<h1>Inactive Curriculums</h1>
<% if @inactive_curriculums.size == 0 %>
  Sorry, there are no curriculums to be displayed.
<% else %>

  <table class="table">
    <tr>
      <th width="200">Name</th>
      <th width="150">Ratings Range</th>
      <th width="200">Times Used</th>
      <th></th>
      <th></th>
    </tr>

    <% @inactive_curriculums.each do |curriculum| %>
    <tr>
      <td><%= link_to curriculum.name, curriculum_path(curriculum) %></td>
      <td align="center"><%= curriculum.min_rating.zero? ? "Unrated" : curriculum.min_rating %> - <%= curriculum.max_rating %></td>
      <td align="center"><%= curriculum.camps.size %></td>
      <% if !current_user.nil? %>  
      <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

<% end %>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @inactive_curriculums, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>