<h3><%= status %> Students</h3>

<table class="table">
  <tr>
    <th width="200">First Name</th>
    <th width="200">Last Name</th>
    <th width="100">Date of Birth</th>
    <th width="100">Rating</th>
    <th width="100">Active</th>
    <th></th>
    <th></th>
  </tr>

<% students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student_path(student) %></td>
    <td align="center"><%= student.age %></td>
    <td align="center">  <%= student.rating.zero? ? "Unrated" : student.rating %></td>
    <td align="center"><%= student.active %></td>


  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>