<h1><%= status %> Camps</h1>
<% if camps.size == 0 %>
  Sorry, there are no camps to be displayed.
<% else %>

  <table class="table", width="800", float: center>
    <tr>
      <th width="150">Name</th>
      <th width="50">Start On</th>
      <th width="50">Time</th>
      <th width="50"></th>
      <th width="100"></th>
      <th width="100"></th>
    </tr>

  <% camps.each do |camp| %>
    <tr>
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
      <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
      <% if !current_user.nil? %>  
        <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
        <td><%= link_to 'Camp Report', payment_pdf_path(:id => camp.id) + ".pdf" %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>

</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>