<% unless @camp.registrations.size.zero? %>
  <!-- <h3>&nbsp;</h3> -->

  <div class="panel clearfix">
    <h5>Student Registrations</h5>
  <table class="datagrid">

  <% @camp.registrations.each do |registration| %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to registration.student.proper_name, registration_path(registration) %></td>
      <td align="left"><%= link_to 'edit', edit_registration_path(registration)  %></td>
      <td align="left"><%= link_to 'delete', registration_path(registration), data: { confirm: 'Are you sure you want to permanently remove this registration from the system?' }, method: :delete  %></td>
    </tr>
  <% end %>
  </table>
</div>


<% else %>
  <div class="panel clearfix">
    <h5>No Registrations at this time</h5>
  </div>
<% end %>
     <%= link_to 'New Registration', new_registration_path %>
