<%= simple_nested_form_for @instructor, :html => { :class => 'form-horizontal', :multipart => true } do |instructor_form| %>
    <div class="row">
      <div class="span7">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Instructor</legend>
                  
          <div class="formtext">
            <%= render :partial => "instructor_fields", :locals => { :f => instructor_form } %>
          </div>
        </fieldset>
      </div>

    <div class="span5">
        <div id="users">
          <%= instructor_form.simple_fields_for :user do |user_form| %>
      <legend>User for this instructor</legend>
          
          <div class="formtext">
            <%= render :partial => "user_fields", :locals => { :f => user_form } %>
          </div>
          <% end %> 
          <p>
          </p>
        </div> 
      </div>


    </div>
    <div class="form-actions">
      <%= instructor_form.submit nil %>
      <%= link_to 'Cancel', instructors_path %>
    </div>

<% end %>
