  <div class="fields">
    <div class="user_field">
      <!-- x icon to remove -->
      <!-- fields -->
      <%= f.input :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <% if @current_user.role == 'admin' %>
        <%= f.label :role %>
        <%= f.select :role, User::ROLES, :prompt => "Select ..." %>

        <%= f.label :instructor %>
        <%= f.collection_select :instructor_id, Instructor.all, :id, :name, :prompt => "Choose..." %>
      <% end %>

    </div>
  </div>
