<%= simple_form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Registration</legend>
		
		<%= f.input :camp_id, :collection => Camp.active.alphabetical.all.map{ |camp| camp.name} %>
		<%= f.input :student_id, :collection => Student.active.alphabetical.all.map{ |student| student.name} %>
    <%= f.input :payment_status, collection: [[' Deposit', 'deposit'], [' Full', 'full']], as: :radio_buttons %>
    <%= f.input :points_earned %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', :id => 'registration_button' %>
      <%= link_to 'Cancel', camps_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>