<h1>Welcome back <%= current_user.instructor.proper_name %>!</h1>
<!-- 	<p><%#= link_to "View camps", camps_path %></p>
 -->
 	<%= link_to "Edit your profile", edit_user_path(current_user) %><br /><br /><br />
<body>
<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="top">
			<strong>Your Upcoming Camps:</strong>
			<% if current_user.instructor.camps.size == 0 %>
			  You have no upcoming camps.
			<% else %>			  
				  <table class= "table">
				    <tr>
				      <th width="200">Name</th>
				      <th width="100">Start Date</th>
				    </tr>

				  <% current_user.instructor.camps.each do |c| %>
	    		   <tr>
				  	<td><%= link_to c.curriculum.name, camp_path(c.id) %></td>
				  	<td><%= c.start_date.strftime('%m/%d/%y') %></td>
				   </tr>
				 <% end %>
				</table>
			<% end %>
	</tr>
</table>		

<div class="textalignleft">
			<h2>My Details &nbsp;&nbsp;</h2>
			  <div class="small-4 columns">

				<% if current_user.instructor.picture_url.nil? %>
					<p><%= image_tag 'default.jpg' %></p>
				<% else %>
					<p><%= image_tag current_user.instructor.picture_url %></p>
				<% end %>
			</div>

			<strong>Phone:&nbsp;&nbsp;</strong> 
			  <%= number_to_phone(current_user.instructor.phone) %><br /><br />

			<strong>Role:&nbsp;&nbsp;</strong> 
			  <%= current_user.instructor.user.role.capitalize %><br /><br />

			<strong>Username:&nbsp;&nbsp;</strong> 
			  <%= current_user.instructor.user.username %><br /><br />

			<strong>Email:&nbsp;&nbsp;</strong> 
			  <%= current_user.instructor.email %><br /><br />

			<strong>Active:&nbsp;&nbsp;</strong>
			  <%= current_user.instructor.active ? "Yes" : "No" %><br /><br />

			<strong>Biography: </strong>
			  <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %><br /><br />
			<%= link_to "Edit your details", edit_instructor_path(current_user.instructor_id) %>

</div>
</body>