<h3>Welcome back <%= current_user.username %>!</h3>
	<p><%= link_to "click here to review camps.", camps_path %></p>
	<p><%= link_to "Edit your profile", edit_instructor_path(current_user.instructor_id) %></p>
	ins id <%= current_user.instructor_id %>
	user id<%= current_user.id %>