<%= simple_form_for(@location, html: { class: 'form-horizontal', class: 'formtext' }) do |f| %>
       
    <div class="row">
      <div class="small-6 columns">
        <h3><%= controller.action_name.capitalize %> Location</h3>
        <%= f.input :name %>
        <%= f.input :street_1 %>
        <%= f.input :street_2 %>
        <%= f.input :city %>
        <%= f.input :state, :collection => Location::STATES_LIST %>
        <%= f.input :zip %>
        <%= f.input :max_capacity %>
        <%= f.input :active %>
      </div>
      <div class="small-1 columns">&nbsp;</div>
    </div>

    <div class="form-actions">
      <%= f.submit nil %>
      <%= link_to 'Back to list of locations', locations_path %>
    </div>

<% end %>