<h3><%= @location.name %> Location Details</h3><br />
<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %>
<br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %>
  <%= @location.street_2 %>
  <%= @location.city %>,
  <%= @location.state %>
  <%= @location.zip %><br /><br />

<% if !@location.city.empty? %>
	<strong>City:&nbsp;&nbsp;</strong> 
		<%= @location.city %><br /><br />
<% end %>

<% if !@location.state.empty? %>
	<strong>State:&nbsp;&nbsp;</strong> 
		<%= @location.state %><br /><br />
<% end %>

<% if !@location.zip.empty? %>
	<strong>Zip:&nbsp;&nbsp;</strong> 
		<%= @location.zip %><br /><br />
<% end %>

<strong>Maximum Capacity: &nbsp;&nbsp;</strong>
  <%= @location.max_capacity %><br /><br />

<strong>Active: &nbsp;&nbsp;</strong>
  <%= @location.active ? "Yes" : "No" %><br /><br />

<strong>Map below &nbsp;&nbsp;</strong>
  <%=  %><br /><br />

<%= hidden_field_tag('latitude', @location.latitude) %>
<%= hidden_field_tag('longitude', @location.longitude) %>

